Source: pgshovel
Section: python
Priority: extra
Maintainer: Disqus Developers <dev@disqus.com>
Build-Depends: debhelper (>= 9), python, python-dev, dh-virtualenv, protobuf-compiler, libpq-dev
Standards-Version: 3.9.5

Package: pgshovel
Architecture: any
Depends: ${python:Depends} ${misc:Depends}
Suggests: postgresql-9.3-pgq3, python-pgq3, python-skytools3, skytools3-ticker, postgresql-plpython-9.3
Description: PostgreSQL Transaction Shovel
